{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <section>
        <header class="main">
            <h1>{% block heading %}Error de Registro<br>{% endblock %}</h1>
        </header>
          <div class="row 180% uniform">

                <center>
                  <div class="box">
                        <h3>Sus Datos no se encuentran en  la Biblioteca.
                            Ingrese una Cedula de identidad Registrada.
                        </h3>
			<a class="button special" href="{% url 'signup' %}"> Volver</a>
                  </div>
                </center>

            </div>
    </section>
    <!--Siempre van dos div que cierran-->
    </div>
</div>
{% endblock %}
