<!-- templates/home.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
    <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>{% block heading %}BiblioApp una </br> herramienta{% endblock %}</h1>
                    <p>PARA LECTORES DE LA ULA</p>
                </header>
                <p>La Biblioteca Integrada de Arquitectura, Ciencias e Ingeniería "María E. Chaves de Burgos" pertenece a los Servicios Bibliotecarios de la Universidad de Los Andes (Serbiula), adscritos al Vicerrectorado Académico de la ULA. Proporcionar a los usuarios de Serbiula toda la información relacionada a los servicios y recursos existentes en la biblioteca.</p>
                <ul class="actions">
                    <li><a href="#" class="button big">LEER MAS</a></li>
                </ul>
            </div>
            <span class="image object">
                <img src="{% static '/images/1.jpg' %}" alt="" />
            </span>
        </section>
        <section>
          <div class="row 180% uniform">
                {% for consultas in consulta %}
                <center>
                  <div class="box">
                        <h3>{{consultas.titulo}}</h3>
                        <h4>{{ consultas.cota }}</h4>
                        <h4>{{ consultas.tipo_material }}</h4>
                        <a href="{{ consultas.get_absolute_url }}" class="button special icon fa-search" >Ver</a></li>
                  </div>
                </center>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}

<!-- templates/home.html <h1>Django Login Mega-Tutorial</h1>

{% if user.is_authenticated %}

	<p>Hi {{ user.username }}
	<p><a href="{% url 'logout' %}">Log out</a></p>
{% else %}
	<p><a href="{% url 'signup' %}">Sign Up</a></p>
	<p><a href="{% url 'login' %}">Log In </a></p>
{% endif %}-->
