{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<br>
  <header>
      <h1>{% block heading %}Perfil{% endblock %}</h1>
  </header>
  {% if user.is_authenticated %}
   <div class="content" align="center">   
          <div>
              <h2>{{user.get_full_name}} </h2>
              <p class = "button special">{{userdata.estado}}</p>
              <div class="6u 12u$(small)">
              <ul class="alt">
                <li><strong>Direccion de Correo:</strong> {{user.email}}</li>
                <li><strong>Cedula de Identidad:</strong> {{userdata.cedula}}</li>
                <li><strong>Direccion de Habitacion:</strong> {{userdata.direccion}}</li>
              </ul>
              </div>
          </div>                        
          <div>
            <a href="{% url 'lista' %}" class = "button">Ver Reservas</a>
            <a href="{% url 'lista_prestamos' %}" class = "button">Ver Prestamos</a>
            <a href="{% url 'logout' %}" class = "button special">Log Out</a>
          </div>                 
    </div> 

    {% else %}
        <h3>Por favor inicie sesión para continuar. </h3>
        <a href="{% url 'login' %}" class = "button">Login</a>
         
    {% endif %}

    <!--Siempre van dos div que cierran-->
    </div>
</div>
{% endblock %}
