{% for consultas in consulta %}
<center>
  <div class="box">
    <h4>{{consultas.titulo}}</h4>
    <h4>{{ consultas.cota }}</h4>
    <h4>{{ consultas.tipo_material }}</h4>
    {% if consultas.tipo_material == 'Libro'%}
        <a href="{{ consultas.get_absolute_url }}" class="button special icon fa-search" >Ver</a>
    {% endif %}
    {% if consultas.tipo_material == 'Revista'%}
      <a href="{% url 'ejemplar_revista' consultas.cota %}" class="button special icon fa-search" >Ver</a>
    {% endif %}
    {% if consultas.tipo_material == 'Tesis'%}
      <a href="{% url 'ejemplar_tesis' consultas.cota %}" class="button special icon fa-search" >Ver</a>
    {% endif %}
  </div>
</center>
{% endfor %}
