{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <section>
        <header class="main">
            <h1>{% block heading %}Reserva de Libros<br>{% endblock %}</h1>
        </header>
        {% if user.is_authenticated %}
        <h3>¿Que desea realizar? Elija una opción para continuar.</h3>
          <ul>
            <li><a href="#">Reservar</a></li>
            <li><a href="{% url 'lista' %}">Ver mi lista de reservas</a></li>
          </ul>
          {% else %}
              <h3>Por favor inicie sesión para continuar. </h3>
              <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
    </section>
    <!--Siempre van dos div que cierran-->
    </div>
</div>
{% endblock %}
