{% extends "shortbase.html" %}
{% load staticfiles %}
{% block title %}Enter new password{% endblock %}

{% block body %}
{% if validlink %}

  <section id="banner">
	        <div class="content" align="center">
	            <header>
	             	<h1>Nueva contraseña</h1>
	            </header>
	       		<div class="4u$ 12u$(medium)">
	       			<form method="POST">
					  	{% csrf_token %}
					  	{{ form.new_password1.errors}}
					  	<strong>Nueva contraeña:</strong>
					  	<label for="id_new_password1"></label>
					  	{{ form.new_password1 }}
					  	<br>
					  	{{ form.new_password2.errors}}
					  	<strong>Confirmacion de contraseña:</strong>
					  	<label for="id_new_password2"></label>
					  	{{ form.new_password2 }}
					  	<br>
					  	<input type="submit" class="button special" value="Cambiar contraseña">
						</form> 
		            
				</div>
	        </div>         
		</section>
		    </div>
		</div>

{% else %}
<section id="banner">
	        <div class="content" align="center">
	            <header>
	             	<h1>ENALCE INVALIDO</h1>
	            </header>
	       		<div class="6u$ 12u$(medium)">
	       			<p>Este enlace ya ha sido utilizado anteriormente, Solicite denuevo una recuperacion de contraseña</p>
		            
				</div>
	        </div>         
		</section>
		    </div>
		</div>


{% endif %}

	
{% endblock %}