{% extends "shortbase.html" %}
{% load staticfiles %}

{% block body %}

<section id="banner">
	        <div class="content" align="center">
	            <header>
	             	<h1>Su contraseña fue restablecida</h1>
	            </header>
	       		<div class="6u$ 12u$(medium)">
	       			<dd>Su contraseña ha sido cambiada satisfactoriamente</dd>
	       			<br>
					<a href="{% url 'login' %}" class="button special">Login</a>
		            
				</div>
	        </div>         
		</section>
		    </div>
		</div>



{% endblock %}

