{% extends "shortbase.html" %}
{% load staticfiles %}
{% block title %}Olvido su contraseña?{% endblock %}

{% block body %}

  <section id="banner">
	        <div class="content" align="center">
	            <header>
	             	<h1>{% block heading %}¿Olvido su Contraseña?{% endblock %}</h1>

	            </header>
	       		<div class="4u$ 12u$(medium)">
	       			<dd>Ingrese el correo electronico con el cual se registro en <strong>BIACI</strong> on the go <dd>
		            <form method="POST">
					    {% csrf_token %}
					    {{ form.email.errors }}
					    {{ form.as_p }}
					    <input type="submit" class="button special" value="Enviar Link de Recuperacion">
					  </form>
				</div>
	        </div>         
		</section>
		    </div>
		</div>

	
{% endblock %}



