{% extends "shortbase.html" %}
{% load staticfiles %}
{% block title %}Email enviado{% endblock %}

{% block body %}

  <section id="banner">
	        <div class="content" align="center">
	            <header>
	             	<h1>{% block heading %}Email Enviado{% endblock %}</h1>
	            </header>
	       		<div class="6u$ 12u$(medium)">
	       			<dd>Te hemos enviado por correo electrónico las instrucciones para configurar tu contraseña. ¡Deberías recibir el correo electrónico en breve!</dd>
		            
				</div>
	        </div>         
		</section>
		    </div>
		</div>

	
{% endblock %}