{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
	{% if user.is_authenticated %}
		<section id="banner">
		            <div class="content">
		                <header>
		                    <h1>Hi {{ user.username }}</h1>
		                    <p></p>
		                </header>
						<p><a href="{% url 'logout' %}" class = "button">Log Out</a></td></p>
		            </div>         
		        </section>
		    </div>
		</div>
	{% else %}
		<section id="banner">
	        <div class="content" align="center">
	            <header>
	                <h1>{% block heading %}Inicio de sesión{% endblock %}</h1>
	                <p></p>
	            </header>
	       		<div class="6u$ 12u$(medium)">
		            <form method="post">
		  				{% csrf_token %}
		  				{{ form.as_p }}
		 				<button type="submit" class="button special">Login</button> 
		 				<a class="button" href="{% url 'signup' %}"> Sign Up</a>
					</form>
				</div>
	        </div>         
		</section>
		    </div>
		</div>
	{% endif %}
{% endblock %}

