{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <section>
        <header class="main">
            <center><h1>{% block heading %}Entregas Pendientes<br>{% endblock %}</h1></center>
        </header>
        {% if user.is_authenticated %}
            <section>
              <div class="row 180% uniform">
                    {% for prestamos in prestamo %}
                    <center>
                      <div class="box">
                            <h3>TITULO LIBRO</h3>
                            <h4>Cota: {{prestamos.id_ejemplar}}</h4>
                            <h4>Fecha Prestamo: {{prestamos.fecha_prestamo}}</h4>
                            <h4>Fecha Entrega: {{prestamos.fecha_entrega}}</h4>
                      </div>
                    </center>
                    {% endfor %}
                </div>
            </section>
          {% else %}
              <h3>Por favor inicie sesión para continuar. </h3>
              <a href="{% url 'login' %}" class = "button">Login</a></td>
          {% endif %}
    </section>
    <!--Siempre van dos div que cierran-->
    </div>
</div>
{% endblock %}
